* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

body{
    background-color: #2A1E47;
    color: #ffffff;
}

* ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    border-radius: 24px;
}

* ::-webkit-scrollbar, * ::-webkit-scrollbar-track {
    background-color: #282433;
}

* ::-webkit-scrollbar-thumb {
    border-radius: 24px;
    background-color: #363142;
}

* ::-webkit-scrollbar, * ::-webkit-scrollbar-track {
    background-color: #282433;
}

.title h1 {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    font-weight: 300;
}

.wraper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.wraper .img {
    width: 33.3%;
    display: flex;
}

footer{
    display: flex;
    justify-content: space-around;
    margin: 24px;
}

img {
    max-width: 100%;
}

@media screen and (max-width: 768px) {
    .wraper .img {
        width: 50%;
    }
    .title h1{
        font-size: 24px;
    }
}

@media screen and (max-width: 580px) {
    .wraper .img {
        width: 100%;
    }
}